.div-modal-azul {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 54px;
    z-index: 999;
    background: #C3D4FE;
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.div-modal-azul span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #243F80;
    margin-left: 12.75px;
    margin-right: 30px;

}