.div-cliente-perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-right: 80px;
}

.div-perfil {
    background: #DEDEE9;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #0E8750;
}

.span-profile {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0E8750;

}